.container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 90%;
   height: fit-content;
   background-color: var(--white);
   border-radius: 0.5rem;
   padding: 1.5rem;

   @media (min-width: 768px) and (max-width: 1023px) {
      width: 80%;
   }

   @media (min-width: 1024px) {
      width: 45%;
   }
}

main {
   p {
      font-size: 1.1rem;
      padding: 0.75rem 0;

      strong {
         font-weight: 600;
      }
   }
}
