.container {
   display: flex;
   align-items: center;
   background-color: #fff;
   border: 2px solid var(--main);
   border-radius: 0.5rem;

   padding: 0.75rem;

   div {
      line-height: 0;
   }
}

input {
   flex: 1;
   border: 0;
   margin-left: 0.75rem;
   outline: none;
   font-size: 1.1rem;
}
